    * {
        margin: 0px;
        padding: 0px;
    }
    
    .navbar-expand-lg {
        justify-content: center;
        .container-fluid {
            display: flex;
            .navbar-brand {
                .yummy-dot {
                    color: red;
                    font-weight: 300px;
                }
            }
            .collapse {
                .navbar-nav {
                    .nav-item {
                        &:hover {
                            a::before {
                                visibility: visible;
                            }
                        }
                        a {
                            position: relative;
                            width: 100%;
                        }
                        a::before {
                            position: absolute;
                            content: "";
                            background-color: red;
                            height: 3px;
                            width: 40px;
                            // left: 10px;
                            width: 100%;
                            bottom: 7px;
                            visibility: hidden;
                        }
                    }
                }
            }
            .table-button {
                // width: 140px;
                // height: 40px;
                // background-color: red;
                // color: white;
                // text-align: center;
                // align-items: center;
                // margin: 0 auto;
                // border-radius: 20%;
                background-color: red;
                color: white;
                padding: 8px;
                height: 50px;
                border-radius: 18px;
            }
        }
    }
    
    #sliderSection {
        .slider {
            width: 100%;
            background-color: #eee;
            .slider-caption {
                align-items: center;
                margin: 0px auto;
                color: red;
            }
            .slider-description {
                margin-top: 18px;
            }
            .button-content {
                display: flex;
                margin-top: 20px;
                .table-button {
                    background-color: red;
                    color: white;
                    padding: 8px;
                    height: 50px;
                    width: 150px;
                    border-radius: 20px;
                    text-align: center;
                    align-items: center;
                }
                .watch-button {
                    margin-top: 10px;
                    i {
                        font-size: 20px;
                        margin-left: 30px;
                    }
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
    
    #aboutUs {
        .about-us {
            display: flex;
            .about-text {
                .about-img {
                    position: relative;
                    .phone-number {
                        padding: 10px;
                        margin-top: 10px;
                        text-align: center;
                        position: absolute;
                        font-size: large;
                        height: 100px;
                        width: 500px;
                        top: 480px;
                        left: 150px;
                        background-color: white;
                    }
                }
                .about-infos {
                    list-style-type: none;
                    text-decoration: none;
                    .about-info {}
                }
            }
        }
    }
    
    #chefs {
        margin-top: 40px;
        background-color: #eee;
        padding: 50px;
        .chefs {
            .chef-card {
                margin-right: 20px;
                width: 416px;
                .card {
                    .chef {
                        img {
                            width: 416px;
                            height: 416px;
                        }
                        .chef-status {}
                        .chef-info {
                            padding: 8px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    
    #bookTable {
        .container {
            .form-section {
                display: flex;
                background-color: #eee;
                img {
                    margin-left: 0px;
                }
            }
        }
    }
    
    #footer {
        background-color: rgb(37, 37, 37);
        padding: 30px;
        color: white;
        .footer-element {
            .footer-caption {
                display: flex;
                i {
                    font-size: 22px;
                    margin-top: 13px;
                }
            }
            .socials {
                background-color: rde;
                display: flex;
                .socials-iconn {
                    padding: 10px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    border-color: white;
                }
            }
        }
    }